// import config
@use 'sass:math';
@use '../config/colors';

// import components
@use 'header';
@use 'hero';
@use 'specs';

// import function
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// config App
#app {
    width: 100%;
    display: grid;

    background-image: url(/src/img/67419097_9662746.webp);
    background-size: 450px;
    background-position: 10px -90px;
    background-repeat: no-repeat;

    .slider-wrapper {
        overflow: hidden;
        max-width: 100%;
        margin: 0 converter(64) converter(56);
    }
}