// import config
@use 'sass:math';
@use '../config/colors';

// import components
@use 'header';
@use 'hero';
@use 'specs';
@use 'models';
@use 'contact';
@use 'footer';

// import function
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// config App
@media screen and (min-width: 320px) {
    #app {
        width: 100%;
        display: grid;

        background-image: url(/src/img/67419097_9662746.webp);
        background-size: 450px;
        background-position: 10px -90px;
        background-repeat: no-repeat;

        transition: all 0.5s ease-in-out;
    }
}

@media screen and (min-width: 600px) {
    #app {
        background-position: 150px -90px;
    }
}

@media screen and (min-width: 768px) {
    #app {
        background-position: 350px 65px;
    }
}

@media screen and (min-width: 900px) {
    #app {
        background-position: 450px 65px;
    }
}

@media screen and (min-width: 1024px) {
    #app {
        background-size: 500px;
        background-position: 500px 65px;
    }
}

@media screen and (min-width: 1300px) {
    #app {
        background-size: 700px;
        background-position: 750px -150px;
    }
}