// import config
@use 'sass:math';
@use '../config/colors';

// import function
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// import mixins
@mixin display($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

// config Specs
.section__specs {
    .specs__h2 {
        background: colors.$linear_orange-to-white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .specs__cards {
        @include display(1fr, repeat(2, 1fr));

        .specs__card {
            margin-top: converter(24);
            height: converter(200);
            padding-top: converter(20);
            padding-left: converter(20);
            background-color: colors.$black_Eerie;
            border: transparent;
            border-radius: converter(8);

            .card__title {
                display: flex;
                align-items: center;
                margin-bottom: converter(16);
                column-gap: converter(16);

                .card_img {
                    width: converter(32);
                    height: converter(32);
                }

                .card__h4 {
                    text-transform: capitalize;
                }
            }

            .card__list {
                .card__list-items {
                    font-size: converter(20);
                    line-height: converter(32);
                }
            }
        }
    }

}