// import config
@use 'sass:math';
@use '../config/colors';

// import function
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// import mixins
@mixin display($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

// config Specs
@media screen and (min-width: 320px) {
    .section__specs {
        width: 100%;

        .h2-section {
            background: colors.$linear_orange-to-white;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            margin-bottom: converter(24)
        }

        .specs-carousel {
            width: 100%;
            height: 100%;

            >.swiper-wrapper {

                .swiper-slide {
                    background-color: colors.$black_Eerie;
                    padding: converter(20);
                    border-radius: converter(8);
                    width: 100%;
                    height: converter(190);
                    transition: all 0.4s ease-in-out;

                    .card__title {
                        display: flex;
                        column-gap: converter(8);
                        align-items: center;
                        margin-bottom: converter(16);

                        .card__h4 {
                            margin: 0;
                            text-transform: capitalize;
                        }
                    }

                    .card__list {
                        .card__list-items {
                            padding: 0;
                        }
                    }
                }

            }

            >.swiper-pagination {

                .swiper-pagination-bullet {
                    background: colors.$linear_orange-to-white;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .section__specs {
        width: 100%;

        .h2-section {
            background: colors.$linear_orange-to-white;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            margin-bottom: converter(24)
        }

        .specs-carousel {
            width: 100%;
            height: 100%;

            >.swiper-wrapper {
                width: 100%;

                .swiper-slide {
                    background-color: colors.$black_Eerie;
                    padding: converter(20);
                    border-radius: converter(8);
                    width: 100%;
                    height: converter(190);
                    transition: all 0.4s ease-in-out;

                    .card__title {
                        display: flex;
                        column-gap: converter(8);
                        align-items: center;
                        margin-bottom: converter(16);

                        .card__h4 {
                            margin: 0;
                            text-transform: capitalize;
                        }
                    }

                    .card__list {
                        .card__list-items {
                            padding: 0;
                        }
                    }
                }

            }

            >.swiper-pagination {

                .swiper-pagination-bullet {
                    background: colors.$linear_orange-to-white;
                }
            }
        }
    }
}