// import config
@use 'sass:math';
@use '../config/colors';

// import function
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// import mixins
@mixin display($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

// config Specs
.section__specs {
    width: 100%;

    .h2-section {
        background: colors.$linear_orange-to-white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: converter(24)
    }

    .carousel {
        .carousel-indicators {
            bottom: converter(-40);
        }

        .carousel-inner {

            .carousel-item {
                background-color: colors.$black_Eerie;
                padding: converter(20);
                border-radius: converter(8);
                width: 100%;
                height: converter(190);
                opacity: 0.1;
                transition: all 0.4s ease-in-out;

                .card__title {
                    display: flex;
                    column-gap: converter(8);
                    align-items: center;
                    margin-bottom: converter(16);

                    .card__h4 {
                        margin: 0;
                        text-transform: capitalize;
                    }
                }

                .card__list {
                    .card__list-items {
                        padding: 0;
                    }
                }

                &.active {
                    opacity: 1;
                }
            }
        }

        .carousel-control-prev {
            position: absolute;
            top: 220px;
            left: 30%;

            border-radius: 50%;
            border: 1px solid #fff;
            height: converter(40);

            img {
                transform: rotate(90deg);
            }
        }

        .carousel-control-next {
            position: absolute;
            top: 220px;
            right: 30%;

            border-radius: 50%;
            border: 1px solid #fff;
            height: converter(40);

            img {
                transform: rotate(-90deg);
            }
        }
    }
}