$white_text: hsl(0, 0%, 92%);
$black_Eerie: hsl(0, 0%, 10%);
$gray_Eerie: hsl(0, 0%, 15%);
$linear_orange-to-white: linear-gradient(hsl(0, 0%, 95%), hsl(20, 85%, 45%));
$black_night: hsl(0, 0%, 5%);
$red_rufous: hsl(5, 85%, 35%);